body {
  background-color: #eaeaea;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
}

a {
  color: #07b4d2;
  text-decoration: none;
}

body > div:first-child {
  background-color: #fff;
  width: 90%;
  min-width: 300px;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.26);
}

.header {
  border-radius: 5px 5px 0 0;
  background-color: #07b4d2;
  width: 100%;
  padding: 5px 0;
  color: white;
}

.body {
  padding: 10px;
}

.illustration {
  width: 70%;
  max-width: 250px;
  margin: 30px 0 10px 0;
}

.text {
  width: 70%;
  margin: 0 auto 25px auto;
}

.footer p {
  margin: 3px 0;
  color: #959595;
}
